* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
  }
body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgb(47, 0, 101) 3%, rgba(60,132,206,1) 38%, rgb(30, 169, 160) 68%, rgb(39, 43, 148) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
    user-select: none;
    max-width: 100vw;
}
nav{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 5px 100px;
  background: rgba(0, 0, 0, 0.425);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}

a{
    text-decoration: none;
}
#downloads button{
  background-color: transparent;
  border: none;
}
#downloads button img{

  transition: 0.5s;

}
#downloads button img:hover{
  filter: brightness(0.5);
   scale: 1.1;
  transition: 0.5s;
  }
#downloads{
    display: flex;
    justify-content: space-evenly;
    z-index: 2;
    gap: 10px;
}

button:hover{
    cursor: pointer;
}

#biglogo{
    text-align: center;
}



@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgba(0, 0, 0, 0.25);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}

#jumpingImage {
    position: fixed;
    bottom: 20px;
    right: 20px;
    animation: jump 0.8s infinite alternate; /* Apply animation */
  }
 #soundwaves{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  opacity: 0.2;
  filter: hue-rotate(90deg);
  background-size: cover;
 
 }
  #speechbubble{
    background-color: white;
    border: 5px solid black;
    border-radius: 10px;
    padding: 10px;
    float: left;
    display: none;
  }

  /* Define animation keyframes */
  @keyframes jump {
    0% {
      transform: translateY(0); /* Initial position */
    }
    100% {
      transform: translateY(-100px); /* Jump up */
    }
  }


  @import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');


#mp3 {
scale: 0.8;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  font-family: 'Acme', sans-serif;
}
.music-controls>div:hover{
    scale: 1.1;
    transition: ease-in-out;
    transition: 0.3s;
}
.music-controls>div{

    transition: 0.3s;
}

.player {
  height: 35rem;
  width: 60rem;
  background: #E5F3FE;
  box-shadow:  5px 5px 10px #cee3f2, 
             -5px -5px 10px #faffff;
  border-radius: 11rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.song-heading {
  .title {
    font-size: 2rem;
    font-weight: 600;
    color: #5881F3;
    letter-spacing: 0.4px;
      text-align:center;
  }
  .album-name {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
    font-weight: 600;
    color: #858b90;
  }
}

.music-controls {
  display: flex;
  width: 95%;
  justify-content: space-evenly;
  align-items: center;
  .repeat {
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    svg {
      transform: rotate(45deg);
    }
    path {
      fill: #5C87FE;
    }
  }
  .previous, .next {
    cursor: pointer;
    width: 6rem;
    height: 6rem;
    box-shadow: 5px 5px 10px #cee3f2, -5px -5px 10px #faffff;
    padding: 1rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    &.pressed {
      box-shadow: inset 5px 5px 10px #cee3f2, inset -5px -5px 10px #faffff;
    }
    svg {
      width: 2rem;
      height: 2rem;
      path {
        fill: #5C87FE;
      }
      rect {
        fill: #5C87FE;
      }
    }
  }
  .play {
    cursor: pointer;
    background-color: #5C87FE;
    padding: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    box-shadow: 6px 5px 9px 0px #a5c6ec;
    svg {
      width: 4rem;
      height: 4rem;
      path {
        fill: #fff;
      }
    }
    &.pressed {
      box-shadow: none;
    }
  }
  .favorite {
    cursor: pointer;
    &.pressed {
      svg path {
        fill: #e74c3c
      }
    }
  }
}

.audio-control {
  width: 85%;
    height: 6px;
    border-radius: 2px;
    background: #E5F3FE;
    box-shadow: 5px 5px 7px 0px #c7dcec, -7px -7px 8px #f2ffff;
    margin: 4px auto;
    cursor: pointer;
  margin-top: 20px;
  .audio-progress {
    width: 0%;
    height: 100%;
    border-radius: 2px;
    position: relative;
    background-color: #5C87FE;
    &:after {
        content: "";
        width: 7px;
        height: 7px;
        border-radius: 50%;
        border: 3px solid #5C87FE;
        background-color: #fff;
        position: absolute;
        top: -4px;
        right: -5px;
      }
  }
}

.audio-duration {
      margin-top: -30px;
    display: flex;
    width: 84%;
    font-size: 1.4rem;
    font-weight: 600;
    color: #A1A1A1;
    letter-spacing: 1px;
  .start {
    flex: 1;
  }
}

.edge {
    width: 10rem;
    height: 7px;
    background: #E5F3FE;
    border-radius: 10px;
    box-shadow: 5px 5px 7px 0px #c7dcec, -7px -7px 8px #f2ffff;
}

.hide {
  display:none;
}

.popup {
  scale: 2;
  z-index: 10;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
  padding: 10px;
 background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
}

.close {

  float: right;
  top: 10px;
  right: 10px;
  color: rgb(0, 0, 0);
  font-size: 20px;
  cursor: pointer;
}
